.features {
  display: flex;
  padding: 24px;
  border-radius: 10px;
  background: var(--color-primary);
  gap: 10px;
  box-shadow: 0px 34px 50px -20px rgba(26, 163, 122, 0.15);
}

.features-wrapper {
  display: flex;
  padding: 24px;
  gap: 24px;
}

.features-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.features-description h3 {
  font-size: 16px;
  font-weight: 600;
  color: #f7f7f7;
  line-height: 19.36px;
}

.features-description p {
  font-size: 16px;
  font-weight: 500;
  color: #004b35;
  line-height: 19.36px;
}
